.todoRot{
    width: 88%;
    height: 80vh;
    font-family: Arial, sans-serif;
    background-color:#f8f8f8;
    padding-top:  50px;
   float: right;
}
.conteiner{
  max-width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.conteiner h1{
    color: #242424;
}
.btn{
    max-width: 80px;
    min-height: 40px;
    padding:.12.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 20px -18px;
   background-color: aqua;
}
.btns{
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.input {
    max-width: 250px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
input:hover {
    outline: 1px solid lightgrey;
  }

.conteiner  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.conteiner span{
    font-size:24px;
  }

.delbtn{
    cursor: pointer;
   color: red;
}
@media only screen and (max-width: 1024px) {
  .container {
      max-width: 80%;
    }
    .todoRot{
      margin-top: 80px;
      }
    }

@media only screen and (max-width: 768px) {
  .container {
      max-width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .container {
      max-width: 100%;
  }
}